* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333333;
}

main {
  padding-top: 7rem;
}

a {
  text-decoration: none;
  color: #CCC;
}
a:hover {
  opacity: 0.6;
}

p {
  font-family: 'Noto Serif JP', serif;
}

ol,ul {
  list-style: none;
}

li {
  color: #AAA;
  line-height: 1.5rem;
  font-family: 'Noto Serif JP', serif;
}

/*
 * メインコンテンツ
 */
.l-container {
  margin: 0 auto;
  max-width: 1200px;
}

.l-container h2 {
  margin: 2rem 0;
  padding: .5rem;
  font-size: 1.8rem;
  border-left: 7px solid #777;
  border-bottom: 5px solid #333;
  background:linear-gradient(left, #999, #333);
  background:-webkit-linear-gradient(left, #999, #333);
  background:-moz-linear-gradient(left, #999, #333);
}

.l-container h3 {
  margin: .9rem 0;
  font-size: 1.4rem;
}
.l-container h3::before {
  content: "■";
  color: #999;
}

.l-container h4::before {
  content: "";
}

.p-title {
  margin: 1.6rem 0;
  padding: .2rem;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #456, #333) 1;
  border-image: -webkit-linear-gradient(to right, #456, #333) 1;
  border-image: -moz-linear-gradient(to right, #456, #333) 1;
  width: auto;
}

.p-sentence {
  margin: .8rem .5rem 1.5rem .5rem;
}

.p-sentence ul.p-list {
  list-style: circle;
}

.p-sentence ul.p-list li {
  margin: .5rem 1.5rem;
}

.p-sentence p.p-subsentence {
  line-height: 1.5;
  margin: .4rem 0;
}
