* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #333333;
}

body.no_scroll{
  overflow: hidden;
}

ol,ul {
  list-style: none;
}

/*
 * メインコンテンツ
 */
.l-container {
  margin: 0 auto;
  max-width: 1200px;
}

.l-container h2 {
}
.l-container h2:before {
  position: relative;
  flex-grow: 0.5;
  content: "　";
  height: 1px;
  background:linear-gradient(left, #333333, #CCC, #CCC);
  background:-webkit-linear-gradient(left, #333333, #CCC, #CCC);
  background:-moz-linear-gradient(left, #333333, #CCC, #CCC);
  margin-right: 30px;
  top: 25px;
}
.l-container h2:after {
  position: relative;
  flex-grow: 0.5;
  content: "　";
  height: 1px;
  background:linear-gradient(left, #CCC, #CCC, #333333);
  background:-webkit-linear-gradient(left, #CCC, #CCC, #333333);
  background:-moz-linear-gradient(left, #CCC, #CCC, #333333);
  margin-left: 30px;
  top: 25px;
}

.flex-contents-child {
  padding: 2rem 0;
  font-size: .8rem;
}

.p-skillbox {
  margin: 0.6rem;
  width: calc(30% - 15px);
  background-color: rgb(40,40,40);
  box-shadow: 10px 10px 0 #222222;
}
.p-skillbox p {
  padding: 1rem;
}
.p-skillbox ul {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.p-sentensesOnly {
  padding-bottom: 1.2rem;
  font-size: 1.3rem;
  width: 70%;
}

.p-contacts {
  margin: 8rem 0;
}
.p-contacts article {
  margin: 0 3rem;
}
.p-sns {
}
.p-sns {
}
.p-sns img {
  width: 117.5925px;
  height: 100px;
}

.p-copyright {
  font-size: 0.4rem;
}

footer {
  padding: 3rem;
  background-color: black;
}

/*
 * 基本タグ
 */
h1 {
  padding: 6.4rem 0;
  font-size: 4rem;
  font-family: 'Noto Serif JP', serif;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)), url('../images/galaxy.webp');
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)), url('../images/galaxy.webp');
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)), url('../images/galaxy.webp');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 0 #000;
  animation: fadeIn .7s ease;
}

@keyframes fadeIn {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

h1::after{
  display: block;
  position: relative;
  content:"Web Engineer";
  font-size: 2rem;
  top: 30px;
}
h2 {
  padding: 3.5rem 0;
  font-size: 2.5rem;
  font-family: 'Noto Serif JP', serif;
  color: #BBBBBB;
  letter-spacing: 0.25rem;
}
h3 {
  padding: 1.2rem 0;
  font-size: 1.5rem;
  font-family: 'Noto Serif JP', serif;
  color: #AAAAAA;
}
a {
  text-decoration: none;
  color: #CCC;
}
a:hover {
  opacity: 0.6;
}
li {
  color: #AAA;
  line-height: 1.5rem;
  font-family: 'Noto Serif JP', serif;
}
p {
  color: #AAA;
  line-height: 1.6rem;
  letter-spacing: .15rem;
  font-family: 'Noto Serif JP', serif;
}
b {
  line-height: 1.3rem;
  color: #CCC;
}


/* sp */
@media screen and (max-width: 414px) {
  .p-spChar {
    font-size: 1.3rem;
  }
  .p-sp__charMini {
    font-size: 1rem;
  }

  header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.8rem;
  }

  .flex-contents {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .p-skillbox {
    width: calc(100% - 5px);
    margin: 0.6rem;
  }
  .p-skillbox p {
    font-size: 1.2rem;
    padding: 0.9rem;
  }

  .p-sentensesOnly {
    font-size: 1.2rem;
    width: 80%;
    padding-bottom: 2rem;
  }

  .p-contacts {
    margin: 2rem 0;
  }

  .p-contacts article {
    margin: 0 1.5rem;
  }

  footer {
    margin-top: 5rem;
  }

  .p-copyright {
    font-size: 0.7rem;
  }

  h1 {
    margin: 0 0;
    padding: 4.6rem 0;
  }
  h2 {
    padding: 3.3rem 0;
    letter-spacing: .0rem;
  }
  h3 {
    padding-bottom: 0.7rem;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.8rem;
  }

  .p-skillbox {
    width: calc(45% - 10px);
    margin: 0.6rem;
  }
  .p-skillbox p {
    font-size: 1.2rem;
    padding: 0.9rem;
  }

  .p-contacts {
    margin: 4rem 0;
  }

  .p-contacts article {
    margin: 0 1.5rem;
  }

  .p-copyright {
    font-size: 0.8rem;
  }

  h1 {
    margin: 3rem 0;
    padding: 5rem 0;
  }
}
