* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222222;
}

/*
 * ナビゲーションメニュー
 */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
.menu-wrap {
  padding: 0.7em;
}
ul.menu {
  display: flex;
  align-items: center;
}
ul.menu li {
  padding: 0.7em;
  font-size: 1.5rem;
  font-weight: 700;
}

ol,ul {
  list-style: none;
}

/*
 * メインコンテンツ
 */
.container {
  margin: 0 auto;
  max-width: 1300px;
}

.flex-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillbox {
  width: calc(33% - 20px);
  margin: 5px;
}

.align-center {
  text-align: center;
}

/*
 * 基本タグ
 */
h1 {
  text-align: center;
  padding: 2em 0;
  font-size: 3rem;
  color: #CCCCCC;
}
h2 {
  text-align: center;
  padding: 1.5em 0;
  font-size: 2.5rem;
  color: #BBBBBB;
}
h3 {
  text-align: center;
  padding: 1.2em 0;
  font-size: 1.5rem;
  color: #AAAAAA;
}
a {
  text-decoration: none;
  color: #CCC;
}
a:hover {
  opacity: 0.6;
}
li {
  color: #AAA;
}
p {
  color: #AAA;
  font-family: 'Noto Serif JP', serif;
}
hr {
  height: 3px;
  border:0;
  background:linear-gradient(left, #222222, #CCC, #222222);
  background:-webkit-linear-gradient(left, #222222, #CCC, #222222);
  background:-moz-linear-gradient(left, #222222, #CCC, #222222);
}
