/* sp */
@media screen and (max-width: 414px) {
  .p-spChar {
    font-size: 1.3rem;
  }
  .p-sp__charMini {
    font-size: 1rem;
  }

  header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.8rem;
  }

  .flex-contents {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .p-skillbox {
    width: calc(100% - 5px);
    margin: 0.6rem;
  }
  .p-skillbox p {
    font-size: 1.2rem;
    padding: 0.9rem;
  }

  .p-sentensesOnly {
    font-size: 1.2rem;
    width: 80%;
    padding-bottom: 2rem;
  }

  .p-contacts {
    margin: 2rem 0;
  }

  .p-contacts article {
    margin: 0 1.5rem;
  }

  footer {
    margin-top: 5rem;
  }

  .p-copyright {
    font-size: 0.7rem;
  }

  h1 {
    margin: 0 0;
    padding: 4.6rem 0;
  }
  h2 {
    padding: 3.3rem 0;
    letter-spacing: .0rem;
  }
  h3 {
    padding-bottom: 0.7rem;
  }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.8rem;
  }

  .p-skillbox {
    width: calc(45% - 10px);
    margin: 0.6rem;
  }
  .p-skillbox p {
    font-size: 1.2rem;
    padding: 0.9rem;
  }

  .p-contacts {
    margin: 4rem 0;
  }

  .p-contacts article {
    margin: 0 1.5rem;
  }

  .p-copyright {
    font-size: 0.8rem;
  }

  h1 {
    margin: 3rem 0;
    padding: 5rem 0;
  }
}
